// override default material ui styles
// override default material ui styles

// override default material ui styles
// override default material ui styles

// navbar styles
// navbar styles
.navbar-list-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
}

.list-container {
  margin: 68px 0;
}

.MuiListItem-button:hover {
  background-color: rgba(33, 150, 243, 0.2) !important;
}
#logout-btn:hover {
  background-color: rgba(255, 121, 97, 0.2) !important;
}
// navbar styles
// navbar styles
