@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

$primary-color: #b5f916;
$primary-font-color: #3c4257;
$error-red: #cd3d64;
* {
  font-family: 'Roboto', sans-serif;
  color: $primary-font-color;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: $primary-font-color;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a {
  color: $primary-font-color;
  text-decoration: none;
  font-weight: 500;
  background-color: hsla(95, 65%, 53%, 0.338);
  padding: 8px 14px;
  border-radius: 15px;
}
